[Unit]
Description=Serviço para monitoramento do status da conectividade à Internet da interface de rede wlan0 (Wi-Fi)
After=network.target

[Service]
ExecStart=/usr/local/bin/wlan_watch.sh
Restart=always
User=root
StandardOutput=append:/var/log/wlan_watch/wlan_watch.log
StandardError=append:/var/log/wlan_watch/wlan_watch_error.log

[Install]
WantedBy=multi-user.target
